<div class="flex h-16 items-center justify-between px-4 py-2 border-b border-gray-200">
  <nav>
    <ul class="flex gap-4">
      <li class="cursor-pointer text-md font-semibold hover:text-[#665fb0]">
        <a routerLink="/orders" [routerLinkActive]="['text-[#665fb0]', 'underline']"
          [routerLinkActiveOptions]="{exact: true}">Pedidos
        </a>
      </li>
      <li class="cursor-pointer text-md font-semibold hover:text-[#665fb0]">
        <a routerLink="/orders/new" [routerLinkActive]="['text-[#665fb0]', 'underline']"
          [routerLinkActiveOptions]="{exact: true}">Novo
          Pedido
        </a>
      </li>
    </ul>
  </nav>
</div>